
header{
    font-size: 35px;
    text-align: center;
    background: rgb(35, 35, 189);
    width: 100%;
    padding: 20px;
}


header, h1, h2 {
    color: white;
}

nav{
    background:rgb(50, 50, 173);
    padding: 1rem;
    outline: solid black;
    width: 100%;
    color: white;
    display: flex;
}


nav a{
    color: bisque;
}

a:hover {
    color: aqua;
    text-decoration: underline;

}
body{
    background: cornflowerblue;
}

.whatnew{
    text-align: center;
    background: rgb(185, 180, 180);
    padding: 10px;
}

.communities{
    background: rgb(131, 175, 192);
}
.communities h2, .communities p{
    text-align: center;
}

table { 
    width:80%; 
}
th { 
    width:25%; 
}
th img {
    width:60%;
    height:auto;
}
.debates{
    text-align: center;
    background: rgb(80, 176, 255);
}

hr{
    visibility: hidden;
    padding: 10px;
}

footer{
    text-align: center;
    background: rgb(93, 93, 199);
}
